@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home ul li{
    list-style: none;
    width: 20px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}
.header{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 15px;
}
.header img{
    width: 25px;
}
.library{
    min-height: 70vh;
    position: relative;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    column-gap: 39px;
    row-gap: 12px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: grey;
    text-decoration: none;
}
.right{
    margin: 15px;
}
.header2{
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
    height: 70px;
}
.nav button{
    background-color: #101010;
    border-radius: 40px;
    height: 30px;
    width: 30px;
    border: none;
}
.nav button img{
    width: 20px;
}
.b4{
    width: 90px;
    height: 45px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.b3{
    width: 90px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #a7a7a7;
    background-color: #101010;
    border: none;
    cursor: pointer;
}
.b3:hover{
    font-size: 17px;
    color: whitesmoke;
}
.b4:hover{
    font-weight: bold;
    width: 95px;
}
.header2 > *{
 padding: 14px;
}
.spotifyplaylists{
    padding: 10px;
    background-color: #121212;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 8px 0px;
    overflow-y: scroll;
    max-height:74vh;
}
.card{
    width: 190px;
    background-color: #252525;
    padding: 10px;
    border-radius: 7px;
    position: relative;
}
.card svg{
    position: absolute;
    left: 145px;
    top: 141px;
    width: 50px;
    height: 55px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card > *{
    padding-top: 4px;
}
.card p{
    color: #a4a4a4;
}
